#firstShelf{
   background-color: orange; 
}

#newBookEntry{
    background-color: greenyellow;
}

.bookSlot{
    background-color: blue;
    text-align: right;
}

.readButton{
    display: inline-block;
}